.content-wraper {
  display         : flex;
  flex-direction  : column;
  gap             : 3rem;
  justify-content : center;
  align-items     : center;
  padding-bottom  : 2rem;
}

@media (min-width: 1024px) {
  .content-wraper {
    flex-direction  : row-reverse;
    justify-content : center;
    align-items     : center;
    gap             : 6rem;
    padding-left    : 2rem;
  }
}